<div class="container">
  <div class="form-container">
    <div>
      <input
        [formControl]="title"
        placeholder="Пиши тука заглавие на бележката"
        [ngClass]="{ invalid: title.invalid && title.touched }"
      />
      <p *ngIf="title.invalid && title.touched">
        The title must be at least 5 characters.
      </p>
      <input
        [formControl]="content"
        placeholder="Пиши тука съдържание на бележката"
        [ngClass]="{ invalid: content.invalid && content.touched }"
      />
      <p *ngIf="content.invalid && content.touched">
        The content must be at least 7 characters.
      </p>
      <button
        (click)="saveNote()"
        [disabled]="title.invalid || content.invalid"
      >
        Да вземем да го запазим, а?
      </button>
    </div>
  </div>

  <div class="notes-container">
    <div
      class="notes"
      *ngFor="let savedNote of notes; let i = index"
      [class.selected]="i === selectedNoteIndex"
    >
      <h1>Бележка №{{ i + 1 }}</h1>
      <h2 (click)="selectNote(i)">{{ savedNote.title }}</h2>
      <p>{{ savedNote.content }}</p>
      <button
        *ngIf="i === selectedNoteIndex"
        (click)="editNote(selectedNoteIndex)"
      >
        Edit
      </button>
      <button *ngIf="i === selectedNoteIndex" (click)="deleteNote()">
        Delete
      </button>
    </div>
  </div>
</div>
